@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/src/assets/fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 116px;
  min-height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  margin-top: 36px;
}

.weather {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 84px;
}
.weather__current {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
.weather__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.weather__main-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
.weather__main-icon svg {
  width: 70px;
  height: 70px;
}
.weather__temperature {
  font-weight: 400;
  letter-spacing: -0.08em;
  line-height: normal;
}
@media (width < 768px) {
  .weather__temperature {
    font-size: 64px;
    color: rgb(255, 255, 255);
  }
}
@media (768px <= width < 1024px) {
  .weather__temperature {
    font-size: 120px;
    color: rgb(255, 255, 255);
  }
}
@media (width >= 1024px) {
  .weather__temperature {
    font-size: 143px;
    color: rgb(255, 255, 255);
  }
}
.weather__city {
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
@media (width < 768px) {
  .weather__city {
    font-size: 30px;
    color: rgb(255, 255, 255);
  }
}
@media (768px <= width < 1024px) {
  .weather__city {
    font-size: 48px;
    color: rgb(255, 255, 255);
  }
}
@media (width >= 1024px) {
  .weather__city {
    font-size: 60px;
    color: rgb(255, 255, 255);
  }
}
.weather__date {
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}
@media (width < 768px) {
  .weather__date {
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
}
@media (768px <= width < 1024px) {
  .weather__date {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
}
@media (width >= 1024px) {
  .weather__date {
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
}
.weather__date-week-day::after {
  content: ",";
}
.weather__date-year::before {
  content: "‘";
}/*# sourceMappingURL=main.css.map */