@use 'variables' as v;


// scaleIn animation and function for it's launch
@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.6);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@mixin useScaleIn($duration: 0.25s, $delay: 0s) {
    animation: scaleIn $duration ease-in-out $delay both;
}


// shine animation and function for it's launch
@keyframes shine {
    0% {
        left: -100%;
        opacity: 0;
    }

    25% {
        left: 50%;
        opacity: 1;
    }

    50% {
        left: 100%;
        opacity: 0;
    }

    75% {
        left: 50%;
        opacity: 1;
    }

    100% {
        left: -100%;
        opacity: 0;
    }
}

@mixin useShine($duration: 4s, $delay: 0s, $width: 20px, $blur: 8px, $angle: 45deg) {
    &::after {
        content: '';
        animation: shine $duration ease-in-out infinite;
        background-color: v.$surface-stroke;
        position: absolute;
        left: -100%;
        transform: translateY(-50%);
        height: 150px;
        width: $width;
        rotate: $angle;
        filter: blur($blur);
    }
}