@use 'variables' as v;

// WIDTH ADAPTIVITY MIXiNS
@mixin mobile {
    @media (width < 550px) {
        @content;
    }
}

@mixin tablet {
    @media (550px <=width < 1280px) {
        @content;
    }
}

@mixin desktop {
    @media (width >=1280px) {
        @content;
    }
}

// TYPOGRAPHY TOKENS
@mixin text-style($size-m, $size-t, $size-d, $color-m, $color-t, $color-d, $ls: v.$ls-normal) {
    font-weight: v.$regular-weight;
    line-height: v.$lh-auto;
    letter-spacing: $ls;

    @include mobile {
        font-size: $size-m;
        color: $color-m;
    }

    @include tablet {
        font-size: $size-t;
        color: $color-t;
    }

    @include desktop {
        font-size: $size-d;
        color: $color-d;
    }
}

@mixin text-h1 {
    @include text-style(v.$h1-size-m, v.$h1-size-t, v.$h1-size-d, v.$h1-color-m, v.$h1-color-t, v.$h1-color-d, $ls: v.$ls-tight)
}

@mixin text-h2 {
    @include text-style(v.$h2-size-m, v.$h2-size-t, v.$h2-size-d, v.$h2-color-m, v.$h2-color-t, v.$h2-color-d)
}

@mixin text-h3 {
    @include text-style(v.$h3-size-m, v.$h3-size-t, v.$h3-size-d, v.$h3-color-m, v.$h3-color-t, v.$h3-color-d)
}

@mixin text-h4 {
    @include text-style(v.$h4-size-m, v.$h4-size-t, v.$h4-size-d, v.$h4-color-m, v.$h4-color-t, v.$h4-color-d)
}

@mixin text-primary {
    @include text-style(v.$primary-size-m, v.$primary-size-t, v.$primary-size-d, v.$primary-color-m, v.$primary-color-t, v.$primary-color-d)
}